<h2> {{viewTitle}}</h2>
<!--Posting form data into our MONGODB DATABASE and Disable auto complete in my form-->
<form action ="/bucket" method ="POST" autocomplete="off"> 
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="userName" placeholder="Name">
    </div>

      <div class="form-group">
        <label>Nationality</label>
        <input type="text" class="form-control" name="mynationality" placeholder="Nationality">
    </div>

      <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control" name="myAge" placeholder="Age" >
    </div>

      <div class="form-group">
        <label>DreamCountry</label>
        <input type="text" class="form-control" name="DreamCountry" placeholder="Country" >
    </div>

    <!--this is my submit button -->
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
      <!--  <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a> -->
    </div>
</form>